.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
!plugins/.gitkeep
plugins/
*.db
h2/
felix-cache
bin
template

src/main/resources/public

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/plugins/hello-plugin/
